<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
    <script type="text/javascript" src="/js/underscore.js"></script>
    <script type="text/javascript" src="/js/SampleData.js"></script>
    <script type="text/javascript" src="/js/twitter.js"></script>

</head>
  <title>fun project</title>
</head>
<body>


<!DOCTYPE html>
<html>
<head>
    <title>Using Underscore Templates</title>

<body>

<div id="container">
  <form id ="userInfo">
    <input type="text" name="handle" placeholder="twitter handle">
    <input type="submit" value="generate profile">
  </form>


</div>
</body>
</html>




  <%= yield %>
</body>
</html>
